@model POO1_T2_TrujilloMezaJhuli.Models.Cliente

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Cliente</h2>

<h3>Seguro que quiere eliminar este registro?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Registro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger my-3" /> |
            @Html.ActionLink("Regresar a lista de clientes", "Reporte")
        </div>
    }
</div>
