@model IEnumerable<POOI_T1_TrujilloMezaJhuli.Models.Asistente>

@{
    ViewBag.Title = "ListadoAsistente";
}

<h2>ListadoAsistente</h2>

<p>
    @Html.ActionLink("Crear Nuevo Asistente", "CreateAsistente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dniTrab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apeTrab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomTrab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoriaTrab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hijos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dniTrab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apeTrab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomTrab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecContrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoriaTrab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hijos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<hr />
<div>
    <p>Cantidad Asistentes : @ViewBag.contador</p>
</div>